In [ ]:
a=10
b="10"
c="word"
d=None
e='word'
f=True
g=False
h=10.5
print(type(a), type(b), type(c), type(d), type(e), type(f), type(g), type (h))  #type function to find the datatype of the variable
print(id(a))                                  #id is a function to find memory location)

<class 'int'> <class 'str'> <class 'str'> <class 'NoneType'> <class 'str'> <class 'bool'> <class 'bool'> <class 'float'>
140731633137048

In [ ]:
#Arithmetic operators
A=24
B=12
C=A%B                                   #to get remainder if A<B then 
d=A/B
print("The remainder is:", C)
print(d)
#Assignment operators
i=10 #i=i+10
i+=10
print(i,i)

The remainder is: 0
2.0
20 20

In [ ]:
#assignment operators
j=10
j+=+10    #---> j=j+10  
print(j)

20

In [5]:
#Relational operators
a=10
b=12
print(a==b)               #== is checking if both a and b are equal
print(a!=b)               #!= is checking if both a and b are not equalto
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [19]:
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

AND-
T AND T = T
T AND F = F
F AND T = F
F AND F = F

OR-
T OR T = T
T OR F = T
F OR T = T
F OR F = F

NOT-
NOT T = F
NOT F = T

In [2]:
#input function
a=input("Enter your name")
print("Hello",a)

print(type(a))

Hello Suprita
<class 'str'>

In [7]:
#Typecasting- changing datatype of another datatype
a=int(input("enter a value for a"))
b=int(input("enter a value for b"))
sum=a+b
print("The sum of values entered is:",sum)

The sum of values entered is: 35

QUESTION- WRITE A PROGRAM TO INPUT SIDE OF A SQUARE AND PRINT ITS AREA

PSEUDOCODE- 

BEGIN
WRITE INPUT STATEMENT
TAKE INPUT AS SIDE OF SQUARE
CALCULATE AREA
PRINT AREA
END

In [8]:
side = float(input("Enter the side of the square: "))
Area = side * side
print("The area of the square is", Area)

The area of the square is 144.0

In [8]:
#f- string formattiing
name="sam"
age=25
salary=25000.8877899
print("The name is",name,"The age is", age)
print(f"The name is {name} and the age is {age}")
print(f"salary is:{salary:.3f}")                            #.2f is number after decimal #precision

The name is sam The age is 25
The name is sam and the age is 25
salary is:25000.888

In [15]:
#padding
num=42
print(f"{num:06d}") #05d is number to expand before the number #padding

000042

In [ ]:
#alignment
text="Python"
print(f"{text:<10}")  #left alignment (10 is no. of characters)
print(f"{text:^10}")  #center alignment
print(f"{text:>10}")  #right alignment

Python
  Python
    Python

In [1]:
#string basics
a='this is a string'
b="this is also a string"
c='''this is also another string'''

d="this is python's class"

In [1]:
#concatenation - join strings
a=5+6
print(a)

a="mango"
b="apple"
d=a+b
c=a+"   "+b         #" " for space between two words
print(c)
print(d)

11
mango   apple
mangoapple

In [19]:
#length=len() - to find the length of string
print(len(a))
print(len(d))

5
10

In [ ]:
#sep and end
print(26,27,28,sep=':')   #separator
print(26,27,28)
print('hello','world',end="*")   #ending each string
print('\nloading',end='....')    #to enter text on next line use \n
print('done')

#escape sequences
print('hi this my \nfirst class')
print('hi this is my first \tfirst class')  #for 5spaces \t is used
# to comment line use select text and ctrl+/

26:27:28
26 27 28
hello world*
loading....done
hi this my
first class
hi this is my first 	first class

In [ ]:
#string indexing

name="Suprita"

print(name[4])
print(name[0])   #numbering starts from 0

i
S

In [ ]:
new='this is a string'
print(new[6])  #positive indexing
print(new[-5])   #negative indexing (counts from backwards)

s
t

In [32]:
#slicing strings (dividing your strings into multiple parts)
#string[start:stop:step]
apple='this is a new string'
print(apple[1:6])               #it will not consider last number
print(apple[:])      #entire text
print(apple[:7])     #stop at 7th letter
print(apple[::2])    #every 2nd element
print(apple[-5:-1])

his i
this is a new string
this is
ti sanwsrn
trin