In [1]:
#lists
marks1=35
marks2=45
marks3=65
marks4=45
marks5=87

students=[35,45,65,45,87]   #can store same datatype data
print(type(students))
students1=[36,'mango',34.7,True]  #can store multiple datatype data
print(type(students1))

<class 'list'>
<class 'list'>

In [ ]:
#string int
list2=list("this is a list")
print(list2)
print(type(list2))

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'l', 'i', 's', 't']
<class 'list'>

In [2]:
#repeating list
list3=[1]
print(list3)

[1]

In [5]:
#indexing inlists
fruits=['banana', 'mango', 'strawberry']
print(fruits[1])
print(fruits[-1])

mango
strawberry

In [2]:
#slicing in lists
fruits=['banana','mango','strawberry','grapes','orange']
print(fruits[1:3])
print(fruits[0:2])
print(fruits[:])
print(fruits[::2])
print(fruits[::-1])   #reverse a list

['mango', 'strawberry']
['banana', 'mango']
['banana', 'mango', 'strawberry', 'grapes', 'orange']
['banana', 'strawberry', 'orange']
['orange', 'grapes', 'strawberry', 'mango', 'banana']

In [6]:
#lists are mutable in nature (that means it can be changed)
list2=[10,20,30,40]
list2[0]=100 
list2[2]=35   #it replaces like 10 replaced with 100
print(list2)
print(list2)

[100, 20, 35, 40]
[100, 20, 35, 40]

In [ ]:
#lists methods- .append, .insert, .remove, .pop
list2=[10,20,30,40]
list2.append(50)            #append is adding a value to end of the list
print(list2)

list2.insert(1,35)          #insert is to add a value using index position
print(list2)

list2.remove(35)            #exact value to be removed from the list
print(list2)

list2.pop()                 #bydefault removes the last value
print(list2)

list2.pop(1)                #removing element using index position
print(list2)

[10, 20, 30, 40, 50]
[10, 35, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[10, 30, 40]

TypeError: insert expected 2 arguments, got 4

In [7]:
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)
b.extend(a)
print(b)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
marks=[78,102,96]
marks.sort()            #sorts the list in ascending order
print(marks)
marks.reverse()         #reverse the list 
print(marks)
marks.clear()           #removes everything in the list
print(marks)

[78, 96, 102]
[102, 96, 78]
[]

In [13]:
nums=[10,68,78,89]
print(nums.index(78))        #gives position of item
nums2=[1,2,3,3,2,2]
print(nums2.count(2))        #count occurrences
a=[1,2,3]
b=a.copy()                   #creating a shallow copy
print(b)
print(len(nums2))             #length of list

2
3
[1, 2, 3]
6

In [14]:
#deepcopy- full copy fro deepcopy we import copy module because its not a inbuilt method

import copy
a=[[1,2],[3,4]]
b=copy.deepcopy(a)
b[0][0]=100
print(a)
print(b)

[[1, 2], [3, 4]]
[[100, 2], [3, 4]]

In [ ]:
#TUPLES - Used when you need data safety, fixed records
#Tuples cannot be changed once created

nums=(10,20,30)                     #packing a tuple
print(nums[0])                      #ascending a tuple element using index 9unpacking a tuple)

10

In [17]:
#Slicing in tuples

nums=(10,20,30,40)

print(nums[1:4])
print(nums[:3])

(20, 30, 40)
(10, 20, 30)

In [19]:
#tuple methods
nums=(1,2,3,4,3,2)
print(nums.count(2))        #count
print(nums.index(3))        #prints first index of the value

2
2

In [24]:
#built in functions
nums=(10,20,30)
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))

3
30
10
60

In [ ]:
#SETS

numbers={10,20,40,20,10}    #unordered and only unique values stored
print(numbers)

{40, 10, 20}

In [4]:
#sets methods
#adding elements

colours={'red','green', 'blue'}
colours.add('yellow')
print(colours)
colours.update(['black', 'white'])
print(colours)

{'yellow', 'red', 'green', 'blue'}
{'green', 'red', 'black', 'yellow', 'white', 'blue'}

In [33]:
#removing elements

print(colours)
colours.pop()
print(colours)
colours.clear()                #removing all elements
print(colours)

{'c', 'red', 'w', 'k', 'i', 'a', 'green', 'yellow', 'b', 'l', 'h', 't'}
{'red', 'w', 'k', 'i', 'a', 'green', 'yellow', 'b', 'l', 'h', 't'}
set()

In [3]:
a={1,2,3}
b={4,5,6}
#union
#a | b
print(a.union(b))              #union gives all unique elements
#intersection
#a & b
print(a.intersection(b))       #common elements
#a-b
print(a.difference(b))
#symmetric_difference          #elements in A not in B
#a^b
print(a.symmetric_difference(b) )     #elements in either but not both

print(a.difference_update(b))        #Removes common element

A={2,3}
B={2,3,4,1,5}
print(A.issubset(B))              #True if all of A in B
print(B.issuperset(A))            #True if B contains all of A
print(A.isdisjoint(B))            #True if no common elements

{1, 2, 3, 4, 5, 6}
set()
{1, 2, 3}
{1, 2, 3, 4, 5, 6}
None
True
True
False

Method	              Meaning	                      Example	                 Output
union()	            Combines elements from both	        A.union(B)	         {1,2,3,4,5,6,7,8}
intersection()	       Common elements	                A.intersection(B)	      {4,5}
difference()	       Elements only in A	            A.difference(B)	         {1,2,3}
symmetric_difference()	Elements not in both	     A.symmetric_difference(B)	{1,2,3,6,7,8}
update()	        Adds items from another set to A	    A.update(B)	        modifies A
difference_update()	Removes common elements	         A.difference_update(B)	    modifies A
issubset()	         True if all of A in B	           {1,2}.issubset(A)	      True
issuperset()	    True if A contains all of B	         A.issuperset({1,2})	  True
isdisjoint()	     True if no common elements	        {9,10}.isdisjoint(A)	  True

In [5]:
#DICTIONARIES

student={"name":"Alex","age":22,"marks":85}
print(student["name"])  
print(student["age"] ) 
print(student["marks"] )                #calling/accessing data through key instead of index

Alex
22
85

In [8]:
#dictionary methods
#adding/updating a dictionary

student["city"]="Bangalore"
student["Age"]=23
student["name"]= "New_name"
print(student)

#removing items

student.pop("marks")               #remove key
student.popitem()                  #remove last item
del student["age"]
print(student)

NameError: name 'student' is not defined

In [48]:
#keys and values
print(student.keys())            #gives only keys
print(student.values())          #gives only values
print(student.items())           #entire dictionary

dict_keys(['name', 'city'])
dict_values(['Alex', 'Bangalore'])
dict_items([('name', 'Alex'), ('city', 'Bangalore')])

In [1]:
#other common methods

student.update({"marks":90, "city":"Hyderabad"})
print(student)
backup= student.copy()
student.clear()
print(student)

NameError: name 'student' is not defined

In [54]:
#nested dictionaries

#dictionary inside a dictionary

employees={"id":101,"details": {"name":"John","age":45, "salary":67000}}
print(employees["details"]["salary"])

67000

In [57]:
#list of dictionaries
students=[{"name":"Alex","marks":85},{"name":"sam","marks":90}]
print(students[1]["name"])

sam

Feature             List            Tuple           Set            Dictionary   

Ordered             Yes             Yes             No              Yes     
Mutable             Yes             No              Yes             Yes         
Key-Value           No              No              No              Yes
Duplicates          Yes             Yes             No              Keys-No

BITWISE OPERATORS

binary and &        - both bits if 1 = 1
binary or |         - either bits must be 1
binary xor ^        - either one of the bits only must be one
negotion   ~        - if the bit is one then output is 0 and if bit is 0 then output is 1
left shift <<       - shifting toward left and adding zeros at the right
right shift >>      - shifting towards right and dropping bits

bitwise & -- T & T ---> T
             T & F ---> F
             F & T ---> F
             F & F ---> F

bitwise | -- T | T ---> T
             T | F ---> T
             F | T ---> T
             F | F ---> F

bitwise ^ -- T ^ T ---> F
             T ^ F ---> T
             F ^ T ---> T
             F ^ F ---> F
        
negation ~ ---> ~x=(x+1)  2's complement formula

In [7]:
print(5&3)
print(5|3)
print(5^3)
print(~5)
print(5<<1)
print(5>>1)

1
7
6
-6
10
2

#SETS HASHABILITY-
#SET elements must not change

{1, "Python",(1,2,3)} --> allowed/valid set
{[1,2,3]} --> not valid

#dictionary get method-

.get() - is a safe method to read values from a dictionary

it avoids errors when key is missing

syntax-
dictionary_name.get(key,default_value)

In [13]:
student={"name": "Alex", "age":22}
print(student.get("marks"))
#print(student["marks"])  - this will create an error to avoid error is to use.get
print("hello")
print(student.get("marks",0))

None
hello
0

In [ ]:
#obtaining unique values using set method
data=[1,2,3,4,3,3,2,2]
data1=set(data)
print(data1)

{1, 2, 3, 4}

In [ ]:
#finding common customers in both regions using set operations
regionA = {"Alice", "Bob", "Charlie"}
regionB = {"Bob", "Diana", "Eve"}
print(regionA.intersection(regionB))

{'Bob'}

In [24]:
#string methods
text="python programming"
text1=text.upper()               #capitalize each word
print(text1)

text2="PYTHON PROGRAMMING"
text3=text2.lower()              #
print(text3)
print(text.title())              #capitalize first letter of each word
print(text.capitalize())         #capitalize first letter of first word

text4="       hello    "
print(text4)                     
print(text4.strip())            #removes unwanted space from both the sides
print(text4.lstrip())           #removes unwanted space from left side
print(text4.rstrip())           #removes unwanted space from right side

text5= "Python is easy"
words=text5.split()             #splits each and every word
print(words)

date= "2025-01-01"              #separates using delimeter
print(date.split("-"))

words=["Python", "is", "fun"]
sentence=" ".join(words)        #after every element space delimeter is to be used(opp of split)
print(sentence)

PYTHON PROGRAMMING
python programming
Python Programming
Python programming
       hello
hello
hello
       hello
['Python', 'is', 'easy']
['2025', '01', '01']
Python is fun

In [ ]:
text="python programming"
print(text.find("prog"))          #find position of substring,returns index if found if not returns -1
print(text.find("ko"))            #if not found returns -1

text="i like python"
print(text.replace("python", "mango"))              #replace the text

7
-1
i like mango

In [ ]:
#checking content

text="python"
print(text.startswith("py"))         #to check if condition is true or false
print(text.endswith("on")) 
print(text.isalpha())                #is the string only letters
print(text.isdigit())                #is the string only digits
print(text.isalnum)                  #is the string consisting of both alphabets and numbers

True
True
True
False
<built-in method isalnum of str object at 0x000002277649BE70>

In [ ]:
#length and counting

text="python"
print(len(text))                    #length of text
text2="banana"
print(text2.count("a"))             #count of letters

6
3

In [37]:
#checking membership
text3="python"
print("py" in text)
print("java" not in text)

True
True