Loops-

A loop helps us repeat the same task again and again without writing the same code many times

Example:
Writing attendance for 30 students
Printing numbers for 1 to 100
Check marks for each subject

Types of loops-
1.For loop
2.While loop

FOR LOOP-

A for loop takes one item at a time from a collection and works on it.

syntax:
for item in collection:
    print(item)

collection-list/string/range
item-temporary variable

In [3]:
#basic example

for i in range(5):                     #variable i = int
    print(i)

#range(5) -> numbers from 0 to 4
# i takes one value at a time
#print(i) runs repeatedly until the loop condition is true

0
1
2
3
4

In [4]:
#print number 1 to 5

for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
#fro loop with list items

fruits=["apple", "banana", "mango"]
for fruit in fruits:
    print(fruit)

apple
banana
mango

In [ ]:
#loop through a string

name="Python"

for letter in name:
    print(letter)

#strings are a collection of characters

P
y
t
h
o
n

In [8]:
#numbers list
numbers=[10,20,30]

for n in numbers:
    print(n*2)

20
40
60

In [ ]:
#for loop with dictionary

student={"name":"alex", "age":22}

for key in student:
    print(key)                               #name and age
for value in student.values():
    print(value)                             #alex and 22

name
age
alex
22

In [12]:
#looping through key values pairs    
for key,value in student.items():
    print(key,":", value)

name : alex
age : 22

In [ ]:
#print even numbers

for i in range(0,11,2):       #start,stop,step  0,1,2,3,4,5,6,7,8,9,10
    print(i)

0
2
4
6
8
10